body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(66, 66, 66);
  color: aliceblue;
  padding: 10px;
  font-size: 20px;
}

a {
  color: lightblue;
}

.list {
  font-size: 20px;
}

.order {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
}

.link {
  margin: 20px;
}

img {
  display: block;
}

.title-inside {
  text-align: center;
  display: inline-block;
  margin-top: -10px;
  padding-top: 5px;
}

.home {
  margin: 15px;
  display: inline-block;
}
