body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(66, 66, 66);
  color: aliceblue;
}

.title {
  text-align: center;
  margin: 40px;
}

a {
  color: lightblue;
}

.list {
  font-size: 20px;
}

.order {
  list-style-position: inside;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.link {
  margin: 20px;
}
